.header {
  background-color: aquamarine;
}

.charactorColor {
  color: red;
}
.ha {
  ul {
    display: flex;
    li {
      color: bisque;
    }

    .ha1 {
      color: rgb(108, 141, 141);
      background-color: bisque;
    }
  }
}
